*{
    margin: none;
    padding: none;

}

.header{
    border: 0px solid #000;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.header img{
    height: 50px;
    width: 175px;
    margin: auto;
    
    left: 40px;
}
.container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: blanchedalmond;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: 60%;
    width: 40%;
    max-width: 60%;
   
    display: 
    flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.l_part{
    width: 100%;
}
.main{
    width: 80%;
    /* text-align: center; */
    /* display: grid; */
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.main_content{
    height: 60%;
    padding: 40px;
 background-color: white;
    

}

 .overlap_text {
    display: flex;
    position: relative;
    margin-bottom: 45px;
}
.forgot{
    position: absolute;
    right: 5px;
}
input{
   width: 100%;
   margin-bottom: 5px;
   border: 1px solid #dbdbdb;
   box-sizing: border-box;
   padding: 8px 12px;
   width: 100%;
   border-radius: 4px;
}
.sub_content{
    padding: 20px;
    background: white;
    margin-top: 20px;
}